<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.BoardMapper">
	
	<select id="selectBoardList" resultType="Board">
		SELECT			b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_hit as bHit
		FROM		lc_board
	</select>
	
	<select id="selectBoardList_p" parameterType="Integer" resultType="Board">
		SELECT			b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_hit as bHit
		FROM		lc_board
		LIMIT		#{reqPage},3
	</select>

	<insert id="reg" parameterType="Board">  
        INSERT INTO	lc_board (
			b_title,
			b_content,
			b_writer
      ) VALUES (
         #{bTitle},
         #{bContent},
         #{bWriter}
         )
	</insert>	
	
	<select id="selectviewDetail" parameterType="Integer" resultType="Board">
		SELECT			b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_datetime as bDateTime,
						b_hit as bHit
		FROM		lc_board
		WHERE		b_id = #{bid}
	</select>
	
	<update id="addhit" parameterType="Integer">
  	 	UPDATE 			lc_board
   		SET
      				  b_hit = b_hit+1

   		WHERE			 b_id =   #{bId}
	</update>
	
	<delete id="deletePost" parameterType="Integer">
 		DELETE
  		FROM			lc_board
   		WHERE			b_id = #{delid}
	</delete>
	
	<update id="fixdo" parameterType="Board">
  	 	UPDATE 			lc_board
   		SET
      				  b_title = #{bTitle},
      				  b_content = #{bContent}

   		WHERE			 b_id =  #{bId}
	</update>
	
	<select id="getPostCount" resultType="Integer">
		SELECT COUNT(*) count FROM lc_board
	</select>
	
</mapper>
