<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.BoardMapper">
	
	<select id="selectBoardList" resultType="Board">
		SELECT			b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_hit as bHit
		FROM		lc_board
	</select>
	
	<select id="selectBoardList_p" parameterType="Integer" resultType="Board">
		SELECT * FROM
						(select @rownum := @rownum-1 as rownum, (concat(repeat('-', depth), b_title))as con, 
						b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_datetime as bDateTime,
						b_hit as bHit,
						groups,
						orders,
						depth
		FROM 				
						lc_board ta, 
					 (select @rownum := (select COUNT(*)-#{reqPage}+1 from lc_board ta)) tb 
		ORDER BY 
						groups desc, orders asc

		LIMIT  			#{reqPage},3)a
	</select>

	<insert id="reg1" parameterType="Board">  
        INSERT INTO	lc_board (
			b_title,
			b_content,
			b_writer
      ) VALUES (
         #{bTitle},
         #{bContent},
         #{bWriter}
         )
	</insert>
	
	<update id="reg2" parameterType="Board">
  	 	UPDATE 			lc_board
   		SET
      				 groups = LAST_INSERT_ID(),
      				 orders = '1'

   		WHERE		 b_id = last_insert_id()
	</update>	
	
	<select id="selectviewDetail" parameterType="Integer" resultType="Board">
		SELECT			b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_datetime as bDateTime,
						b_hit as bHit,
						groups,
						orders,
						depth
		FROM		lc_board
		WHERE		b_id = #{bid}
	</select>
	
	<update id="addhit" parameterType="Integer">
  	 	UPDATE 			lc_board
   		SET
      				  b_hit = b_hit+1

   		WHERE			 b_id =   #{bId}
	</update>
	
	<delete id="deletePost" parameterType="Integer">
 		DELETE
  		FROM			lc_board
   		WHERE			b_id = #{delid}
	</delete>
	
	<update id="fixdo" parameterType="Board">
  	 	UPDATE 			lc_board
   		SET
      				  b_title = #{bTitle},
      				  b_content = #{bContent}

   		WHERE			 b_id =  #{bId}
	</update>
	
	<select id="getPostCount" resultType="Integer">
		SELECT COUNT(*) count FROM lc_board
	</select>
	
	<insert id="regComment" parameterType="Board">  
        INSERT INTO lc_board (
        		b_title,
        		b_content,
        		b_writer,
        		groups,
        		orders,
        		depth
      ) VALUES (
         #{bTitle},
         #{bContent},
         #{bWriter},
         #{groups},
         #{orders}+1,
         #{depth}+1
         )
	</insert>
	
	<update id="regComment2" parameterType="Board">
  	 	UPDATE 				lc_board 
  	 	SET 				orders = orders+1 
		WHERE 
				 (not b_id =  LAST_INSERT_ID() )
					&amp;&amp; (not orders &lt; #{orders}+1) 
					&amp;&amp; (groups = #{groups})
	</update>	
	
	<select id="search_bid" parameterType="map" resultType="Board">
		select * FROM
						(SELECT     @ROWNUM := @ROWNUM -1 AS ROWNUM,
						(concat(repeat('-', depth), b_title))AS con,
          				b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_datetime as bDateTime,
						b_hit as bHit,
						groups,
						orders,
						depth
		FROM       
						(SELECT * FROM lc_board WHERE b_id LIKE #{s} ) ta, 
        				(SELECT @ROWNUM := (SELECT COUNT(*)-#{page}+1 
        				FROM (SELECT * FROM lc_board WHERE b_id LIKE #{s} ) ta)) tb
		order by 
						groups desc, orders asc
		LIMIT #{page},3)a
	</select>
	
	<select id="search_btitle" parameterType="map" resultType="Board">
		select * FROM
						(SELECT     @ROWNUM := @ROWNUM -1 AS ROWNUM,
						(concat(repeat('-', depth), b_title))AS con,
          				b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						b_datetime as bDateTime,
						b_hit as bHit,
						groups,
						orders,
						depth
		FROM       
						(SELECT * FROM lc_board WHERE b_title LIKE #{s} ) ta, 
        				(SELECT @ROWNUM := (SELECT COUNT(*)-#{page}+1 
        				FROM (SELECT * FROM lc_board WHERE b_title LIKE #{s} ) ta)) tb
		order by 
						groups desc, orders asc
		LIMIT #{page},3)a
	</select>
	
	<select id="SearchPostCount_bid"  parameterType="String" resultType="Integer">
		SELECT COUNT(*) count FROM lc_board WHERE b_id LIKE #{s}
	</select>
	
	<select id="SearchPostCount_btitle"  parameterType="String" resultType="Integer">
		SELECT COUNT(*) count FROM lc_board WHERE b_title LIKE #{s}
	</select>
	
	<select id="getbid" resultType="Integer">
		SELECT * from lc_board WHERE b_id = LAST_INSERT_ID()
	</select>
</mapper>
