<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.SurveyMapper">
	
	<select id="getsurveylist" parameterType="Integer" resultType="Survey">
		SELECT * FROM
						(select @rownum := @rownum-1 as rownum,
					ta.*
		FROM 				
						survey ta, 
					 (select @rownum := (select COUNT(*)-#{page}+1 from survey ta)) tb 
		ORDER BY 	datetime asc

		LIMIT  		#{page},3)a
	</select>
	
	<select id="getPostCount" resultType="Integer">
		SELECT count(*) count FROM survey
	</select>
	
	<select id="search_t" parameterType="map" resultType="Survey">
		select * FROM
						(SELECT     @ROWNUM := @ROWNUM -1 AS rownum,
						ta.*
		FROM       
						(SELECT * FROM survey WHERE title LIKE #{s} ) ta, 
        				(SELECT @ROWNUM := (SELECT COUNT(*)-#{page}+1 
        				FROM (SELECT * FROM survey WHERE title LIKE #{s} ) ta)) tb
		order BY 	DATETIME asc
		LIMIT #{page},3)a
	</select>

	<select id="search_w" parameterType="map" resultType="Survey">
		select * FROM
						(SELECT     @ROWNUM := @ROWNUM -1 AS rownum,
						ta.*
		FROM       
						(SELECT * FROM survey WHERE writer LIKE #{s} ) ta, 
        				(SELECT @ROWNUM := (SELECT COUNT(*)-#{page}+1 
        				FROM (SELECT * FROM survey WHERE writer LIKE #{s} ) ta)) tb
		order BY 	DATETIME asc
		LIMIT #{page},3)a
	</select>
	
	<select id="SearchPostCount_t" resultType="String">
		SELECT count(*) count FROM survey where title = #{s}
	</select>

	<select id="SearchPostCount_w" resultType="String">
		SELECT count(*) count FROM survey where writer = #{s}
	</select>	
	
	<insert id="regSurvey" parameterType="Survey">  
        INSERT INTO	survey (
        	title,
        	disc,
        	writer
      ) VALUES (
      		#{title},
      		#{disc},
      		#{writer}
         )
	</insert>
	
	<insert id="regQuestion" parameterType="Question">  
	        INSERT INTO	question (
	        	q,
	        	t,
	        	s_num
	      ) VALUES 
	      		(#{q}, #{t},
	      		(select s_num FROM survey ORDER BY 	 s_num DESC  LIMIT 1)
	      		)
	</insert>

 	<insert id="regAnswer" parameterType="Answer">  
	        INSERT INTO	answer (
	        	a,
	        	q_num
	      ) VALUES 
	      		(#{a},
	      		(select q_num FROM question ORDER BY  q_num DESC  LIMIT 1)
	      		)
	</insert>
	
	<select id="getsurveyDetail" parameterType="Integer" resultType="Survey">
		SELECT * FROM survey WHERE s_num = #{s_num}
	</select>
	
	<select id="getquestionDetail" parameterType="Integer" resultType="Question">
		SELECT * FROM question WHERE s_num = #{s_num}
	</select>
	
	<select id="getanswerDetail" parameterType="Integer" resultType="Answer">
		SELECT * FROM answer WHERE q_num = #{q_num}
	</select>
	
	<delete id="deleteAnswser" parameterType="Integer">
 		DELETE
  		FROM			answer
   		WHERE			q_num = #{q}
	</delete>
	
	<delete id="deleteQuestion" parameterType="Integer">
 		DELETE
  		FROM			question
   		WHERE			s_num = #{delid}
	</delete>
	
	<delete id="deleteSurvey" parameterType="Integer">
 		DELETE
  		FROM			survey
   		WHERE			s_num = #{delid}
	</delete>
</mapper>